<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wykłady - formularz</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/lectures/list')">
	</header>


	<div class="page">
		<div class="container list form pb-3 pt-3">
			<h3>WYKŁAD</h3>

			<form action="#"
				th:action="@{/lectures/save(date=${${#temporals.format(date,'dd.MM.yyyy')}}"
				th:object="${lecture}" method="POST">

				<input type="hidden" th:field="*{id}" /> Kurs: <select
					th:field="*{course}" class="form-control mb-4 col-4">
					<option th:each="course: ${courses}" th:value="${course.id}"
						th:text="${course.id} +'. Kategoria: '+${course.category.categoryName}+' START: '+${#temporals.format(course.startDate,'dd.MM.yyyy')}" />
				</select> Kategoria: <select th:field="*{course.category}"
					class="form-control mb-4 col-4">
					<option th:each="category: ${categories}" th:value="${category.id}"
						th:text="${category.categoryName}" />
				</select> Instruktor: <select th:field="*{course.instructor}"
					class="form-control mb-4 col-4">
					<option th:each="instructor: ${instructors}"
						th:value="${instructor.id}"
						th:text="${instructor.name} + ' ' + ${instructor.surname}" />
				</select>
				<div class="mb-3">
					Numer sali: <input type="text" th:field="*{roomNumber}"
						class="form-control  col-4"> <span
						th:if="${#fields.hasErrors('roomNumber')}" class="errorField"
						th:errors="*{roomNumber}"></span>
				</div>
				<input type="hidden" th:field="*{date}" /> Data: <input type="date"
					th:object="${date}" class="form-control col-4">

				<button type="submit" class="btn btn-info col-2">ZAPISZ</button>

				<a th:href="@{/lectures/list}" class="btn btn-danger">ANULUJ</a>

			</form>

		</div>
	</div>

</body>
</HTML>