<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Car Opinions</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>

	Zalogowany użytkownik: administrator
	<a href="">WYLOGUJ</a>
	<br />
	<br />
<center>
		<h2>
			<strong>Opinie</strong>
		</h2>
	</center>

	<br>
	<br>
	<br>
	<div class="d-flex justify-content-center">
		<div id="card" class="card bg-light mb-4 ml-4 mr-4">
			<div class="card-body text-center mt-4">
				<a style="text-decoration: none"
					th:href="@{cars/newOpinions}"> </br> </br>
					<p class="card-text">Nowe</p>
				</a>
			</div>
		</div>

		<div id="card" class="card bg-light mb-4 ml-4 mr-4">
			<div class="card-body text-center mt-4">
				<a style="text-decoration: none"
					th:href="@{cars/checkedOpinions}"> </br> </br>
					<p class="card-text"><h2>Zatwierdzone</h2></p>
				</a>
			</div>
		</div>



		<div id="card" class="card bg-light mb-4 ml-4 mr-4">
			<div class="card-body text-center mt-4">
				<a style="text-decoration: none"
					th:href="@{cars/rejectedOpinions}"> </br> </br>
					<p class="card-text">Odrzuone</p>
				</a>
			</div>
		</div>

	</div>
	
</body>


</HTML>