<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Instructor Opinions</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}"  type="text/css"/>

<link rel="stylesheet" th:href="@{/css/style.css}"  type="text/css"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
		<div class=" flex-fill">
			<img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" />
		</div>
		<div class="  flex-fill">
			<h2>Ośrodek Szkolenia Kierowców</h2>
		</div>
		<div class=" flex-fill">
			<strong>Zalogowany użytkownik: administrator</strong>
		</div>

	</nav>
	<div class="page">
	
	<br />
	<br />

	<center>
		<h2>
			<strong>Opinie</strong>
		</h2>
	</center>

	<br>
	<br>
	<br>
	<div class="d-flex justify-content-center">
		<div id="card" class="card bg-light mb-4 ml-4 mr-4">
			<div class="card-body text-center mt-4">
				<a style="text-decoration: none"
					th:href="@{instructors/newOpinions}"> </br> </br>
					<p class="card-text">Nowe</p>
				</a>
			</div>
		</div>

		<div id="card" class="card bg-light mb-4 ml-4 mr-4">
			<div class="card-body text-center mt-4">
				<a style="text-decoration: none"
					th:href="@{instructors/checkedOpinions}"> </br> </br>
					<p class="card-text"><h2>Zatwierdzone</h2></p>
				</a>
			</div>
		</div>



		<div id="card" class="card bg-light mb-4 ml-4 mr-4">
			<div class="card-body text-center mt-4">
				<a style="text-decoration: none"
					th:href="@{instructors/rejectedOpinions}"> </br> </br>
					<p class="card-text">Odrzuone</p>
				</a>
			</div>
		</div>

	</div>



	<br>
</div>
</body>


</HTML>