<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Instructor Opinions</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>

	Zalogowany użytkownik: administrator
	<a href="">WYLOGUJ</a>
	<br />
	<br />

	<h3>OPINIE - INSTRUKTORZY</h3>

	<br>
	<br>
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="table-primary">
					<td>Id opinii</td>
					<td>Instruktor</td>
					<td>Kursant</td>
					<td>Ocena</td>
					<td>Opinia</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody id="myTable">
				<tr th:each="instructoropinion:${instructoropinions}">
					<td th:text="${instructoropinion.id}" />
					<td	th:text="${instructoropinion.student.name} + ' ' + ${instructoropinion.student.surname}" />
					<td th:text="${instructoropinion.instructor.name} + ' ' + ${instructoropinion.instructor.surname}" />
					<td th:text="${instructoropinion.instructorMark}" />
					<td th:text="${instructoropinion.instructorOpinion}" />
					<td th:text="${instructoropinion.status}" />
					<!-- <td
						th:text="${instructoropinion.instructor.name} + ' ' + ${instructoropinion.instructor.surname}" />
					 <td
						th:text="${instructoropinion.student.name} + ' ' + ${instructoropinion.student.surname}" />
					
					<td
						th:text="${instructoropinion.instructor.name} + ' ' + ${instructoropinion.instructor.surname}" />
					<td th:text="${instructoropinion.instructorMark}" />
					<td th:text="${instructoropinion.instructorOpinion}" />
					<td th:text="${instructoropinion.deleted}" />
					-->
				</tr>
			</tbody>

		</table>
	</div>

</body>


</HTML>