<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nowe opinie o instruktorach</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>

<body
	th:style="'background: url(/../car.jpg) no-repeat center center fixed;'">
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
		<div class=" flex-fill">
			<a href="/"><img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" /></a>
		</div>
		<div class="flex-fill">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{/opinions/instructors}">
				<button class="btn btn-secondary my-2 my-sm-0">Wróć</button>
			</a> <a sec:authorize="hasRole('INSTRUCTOR')"
				th:href="@{/instructors/showOpinions}">
				<button class="btn btn-secondary my-2 my-sm-0">Wróć</button>
			</a>
		</div>
		<div class="flex-fill">
			<h2>Ośrodek Szkolenia Kierowców</h2>
		</div>
		<div class="flex-fill">
			<strong>Zalogowany użytkownik:</strong> <span
				th:text="${#authentication.getPrincipal().getUsername()}"></span> <a
				href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
		</div>

	</nav>
	<div class="page">
		<div class="container list">
			<h3 class="title">INSTRUKTORZY - NOWE OPINIE</h3>
			<nav class="navbar justify-content-end">

				<a th:href="@{/opinions/instructors/checkedOpinions}"><button
						type="button" class="btn btn-outline-secondary mr-3 mb-2">Zatwierdzone
						opinie</button></a> <a th:href="@{/opinions/instructors/rejectedOpinions}"><button
						type="button" class="btn btn-outline-secondary mr-3 mb-2">Odrzucone
						opinie</button></a>
			</nav>


			<br>

			<div class="table-responsive table-ssm">
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th>Id opinii</th>
							<th>Instruktor</th>
							<th>Kursant</th>
							<th>Ocena</th>
							<th>Opinia</th>
						</tr>
					</thead>
					<tbody id="myTable">
						<tr th:each="instructoropinion:${instructoropinions}">
							<td th:text="${instructoropinion.id}" />
							
							<td
								th:text="${instructoropinion.instructor.name} + ' ' + ${instructoropinion.instructor.surname}" />
								<td
								th:text="${instructoropinion.student.name} + ' ' + ${instructoropinion.student.surname}" />
							<td th:text="${instructoropinion.instructorMark}" />
							<td th:text="${instructoropinion.instructorOpinion}" />
							<td><a
								th:href="@{/opinions/confirmInstructor(id_instructorOpinion=${instructoropinion.id})}"
								class="btn btn-success">Zatwierdź</a></td>
							<td><a
								th:href="@{/opinions/rejectInstructor(id_instructorOpinion=${instructoropinion.id})}"
								class="btn btn-danger">Odrzuć</a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
						<div th:if="${ confirmed}"id="snackbar"  th:text="${confirmed}"></div>
								<div th:if="${rejected}"id="snackbar"  th:text="${rejected}"></div>
		
	</div>
<script>
		$(document)
				.ready(
						function() {
							var x = document.getElementById("snackbar");
							  x.className = "show";
							  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 30000);
						
							
							
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>

</body>
</HTML>