<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nowe opinie o samochodach</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body
	th:style="'background: url(/../car.jpg) no-repeat center center fixed;'">
	<nav
		class="navbar justify-content-end">
		<div class=" flex-fill">
			<a href="/"><img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" /></a>
		</div>
		<div class="flex-fill">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{/opinions/cars}">
				<button class="btn btn-secondary my-2 my-sm-0">Wróć</button>
			</a> <a sec:authorize="hasRole('INSTRUCTOR')"
				th:href="@{/instructors/showOpinions}">
				<button class="btn btn-secondary my-2 my-sm-0">Wróć</button>
			</a>
		</div>
		<div class="flex-fill">
			<h2>Ośrodek Szkolenia Kierowców</h2>
		</div>
		<div class="flex-fill">
			<strong>Zalogowany użytkownik:</strong> <span
				th:text="${#authentication.getPrincipal().getUsername()}"></span> <a
				href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
		</div>

	</nav>
	<div class="page">
		<div class="container list">
			<h3 class="title">SAMOCHODY - NOWE OPINIE</h3>
			<nav class="navbar justify-content-end">
				<a th:href="@{/opinions/cars/checkedOpinions}"><button
						type="button" class="btn btn-outline-secondary mr-3 mb-2">Zatwierdzone
						opinie</button></a> <a th:href="@{/opinions/cars/rejectedOpinions}"><button
						type="button" class="btn btn-outline-secondary mr-3 mb-2">Odrzucone
						opinie</button></a>
			</nav>


			<br>

			<div class="table-responsive table-sm">
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th>Id opinii</th>
							<th>Kursant</th>
							<th>Samochód</th>
							<th>Ocena</th>
							<th>Opinia</th>
						</tr>
					</thead>
					<tbody id="myTable">
						<tr th:each="caropinion:${caropinions}">
							<td th:text="${caropinion.id}" />
							<td th:text="${caropinion.student.name + ' ' + caropinion.student.surname}" />
							<td th:text="${caropinion.car.registrationNumber}" />
							<td th:text="${caropinion.carMark}" />
							<td th:text="${caropinion.carOpinion}" />
							<td><a
								th:href="@{/opinions/confirmCar(id_carOpinion=${caropinion.id})}"
								class="btn btn-success">Zatwierdź</a></td>
							<td><a
								th:href="@{/opinions/rejectCar(id_carOpinion=${caropinion.id})}"
								class="btn btn-danger">Odrzuć</a></td>

						</tr>
					</tbody>


				</table>
			</div>
		</div>

	</div>
</body>
</html>