<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Timetable</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>
	<div class="page">
		<nav
			class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
			<div class=" flex-fill">
				<a href="/"><img
					src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
					width="70px" /></a>
			</div>
			<div class="flex-fill">
				<h2>Ośrodek Szkolenia Kierowców</h2>
			</div>
			<div class="flex-fill">
				<strong>Zalogowany użytkownik: administrator</strong> <a
					href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
				<a th:href="@{/}"><-wroc</a>
			</div>
		</nav>
		<div class="container">
			<br>
			<h3 style="float:left;" th:text="${title}"></h3> 
			
			<a  th:href="@{/timetable/changeDate(date=${today})}"  style="float:right;" class=" btn btn-outline-secondary">GRAFIK</a>
			<br><br>
			<p
				th:text="'dla samochodu '+ ${this.car.brand}+' '+${this.car.model}
			+' '+${this.car.registrationNumber} + ' na dzień '+ ${#temporals.format(this.begin,'dd.MM.yyyy')}" />

			<br> <b>Obecne dane:</b> 
	
			<div class="table-responsive">
					<table class="table table-bordered table-hover table-sm">
						<thead>
							<tr class="table-primary">
								<td>Id</td>
								<td>Początek</td>
								<td>Koniec</td>
								<td>Instruktor</td>
							</tr>
						</thead>
						<tbody id="myTable">
						<tr>
									<td th:text="${this.id}" />
									<td th:text="${#temporals.format(this.begin,'HH:mm')}" />
									<td th:text="${#temporals.format(this.end,'HH:mm')}" />
									<td	th:text="${this.instructor.name}+' ' +${this.instructor.surname} " />
						
							</tr>
						</tbody>
					</table>
				</div>
			
			
			
			
			
			
			
			
			

			<form th:action="@{/timetable/save}" th:object="${timetable}"
				method="GET" >
				
				<input style="float: left;" type="hidden" th:field="*{id}" /> Instruktor: <select
					th:field="*{instructor}" class="form-control col-4">
					<option th:each="instructor: ${instructors}"
						th:value="${instructor.id}"
						th:text="${instructor.name}+' '+${instructor.surname}" />
				</select> 
				<button type="submit" style="float: left;"  class="btn btn-info col-2">ZMIEŃ</button>
			
			</form>
			<br>
<br>
			<form th:action="@{/timetable/changeHours}" th:object="${hourBegin}"
				method="GET">
				<input type="hidden" th:field="${this.id}" /> 
				
				<select th:name="hour" class="form-control col-4">
					<option th:value="6">6:00-8:00</option>
					<option th:value="8">8:00-10:00</option>
					<option th:value="10">10:00-12:00</option>
					<option th:value="12">12:00-14:00</option>
					<option th:value="12">14:00-16:00</option>
					<option th:value="12">16:00-18:00</option>
					<option th:value="12">18:00-20:00</option>
					<option th:value="12">20:00-22:00</option>
					
				</select>

				<button type="submit"
					class="btn btn-info col-2">ZMIEŃ</button>
			</form>


		</div>
	</div>
</body>
</HTML>