<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Timetable</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>
	<div class="page">
		<nav
			class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
			<div class=" flex-fill">
				<a href="/"><img
					src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
					width="70px" /></a>
			</div>
			<div class="flex-fill">
				<h2>Ośrodek Szkolenia Kierowców</h2>
			</div>
			<div class="flex-fill">
				<strong>Zalogowany użytkownik: administrator</strong> <a
					href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
				<a th:href="@{/}"><-wroc</a>
			</div>
		</nav>
		<div class="container">
			<br>
			<h3 th:text="${title}"></h3>
			<p
				th:text="'dla samochodu '+ ${this.car.brand}+' '+${this.car.model}
			+' '+${this.car.registrationNumber} + ' na dzień '+ ${#temporals.format(this.begin,'dd.MM.yyyy')}" />

			<br> <b>Obecne dane:</b> <br> Instruktor: <span
				th:text="${this.instructor.name}+' '+${this.instructor.surname}" />
			<br> Czas jazdy: <span
				th:text="${#temporals.format(this.begin,'HH:mm')}+' - '+ ${#temporals.format(this.end,'HH:mm')}" />


			<br>
			<br>
			
			<form th:action="@{/timetable/save}" th:object="${timetable}"
				method="GET">
				<input type="hidden" th:field="*{id}" /> Instruktor: <select
					th:field="*{instructor}" class="form-control">
					<option th:each="instructor: ${instructors}"
						th:value="${instructor.id}"
						th:text="${instructor.name}+' '+${instructor.surname}" />
				</select> <br>
				<button type="submit" class="btn btn-info col-2">ZMIEŃ</button>
			</form>
			<br>

			<form th:action="@{/timetable/changeHours}" th:object="${hourBegin}"
				method="GET">
				<input type="hidden" th:field="${this.id}" /> 
				
				<input type="text" th:name="hourBegin" /> 
				<select th:name="hour">
					<option th:value="6">6:00-8:00</option>
					<option th:value="8">8:00-10:00</option>
					<option th:value="10">10:00-12:00</option>
				</select>

				<button style="float: left;" type="submit"
					class="btn btn-info col-2">ZMIEŃ</button>
			</form>


		</div>
	</div>
</body>
</HTML>