<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Samochody - formularz</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/cars/list')">
	</header>

	<div class="page">
		<div class="container list form pt-3 pb-3">

			<h3>POJAZD</h3>

			<form action="#" th:action="@{/cars/save}" th:object="${car}"
				method="POST">

				<input type="hidden" th:field="*{id}" /> 
				<div class="mb-3">Numer rejestracyjny: <br><input
					type="text" class="form-control col-4 "
					th:field="*{registrationNumber}" /> <span
					th:if="${#fields.hasErrors('registrationNumber')}"
					class="errorField" th:errors="*{registrationNumber}"></span> 
					</div>
				<div class="mb-3">Marka: <input type="text" th:field="*{brand}"
					class="form-control  col-4 ">
					<span
					th:if="${#fields.hasErrors('brand')}"
					class="errorField" th:errors="*{brand}" ></span> 
					</div>
					<div class="mb-3">
					 Model: <input type="text"
					th:field="*{model}" class="form-control  col-4">
					<span
					th:if="${#fields.hasErrors('model')}"
					class="errorField" th:errors="*{model}"></span> 
				</div>
				<button type="submit" class="btn btn-info  mt-2">ZAPISZ</button>
				<a th:href="@{/cars/list}" class="btn btn-danger mt-2">ANULUJ</a>

			</form>
		</div>
	</div>
</body>

</HTML>