<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Zmiana hasła</title>

<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/js/pwstrength.js}"></script>

</head>

<body th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/courses/list')">
	</header>
	
	<div class="page">
	<div class="container list pt-3 pb-3 form">

			<h3>ZMIEŃ HASŁO</h3>
<div id="errormsg" style="display:none"></div>
<div>
	Stare hasło
    <input id="oldpass" class="form-control mb-4 col-4"name="oldpassword" type="password" />
    Nowe hasło
    <input id="pass"class="form-control mb-4 col-4" name="password" type="password" />
   Powtórz hasło
    <input id="passConfirm" class="form-control mb-4 col-4" type="password" />              
    <span id="error" style="display:none">Hasła są różne</span>
                     
   <button type="submit" class="btn btn-info col-2 mt-2" onclick="savePass()">ZAPISZ</button>
<a th:href="@{/students/profile}" class="btn btn-danger col-2 mt-2">ANULUJ</a>

</div>
  

	
	</div>
	
	</div>
	
<script th:inline="javascript">
var serverContext = [[@{/}]];

function savePass(){
    var pass = $("#pass").val();
    var valid = pass == $("#passConfirm").val();
    if(!valid) {
      $("#error").show();
      return;
    }else  $("#error").hide();
   
    $.post(serverContext + "students/saveNewPassword",
      {password: pass, oldpassword: $("#oldpass").val()} ,function(data){
        window.location.href = serverContext +"login?message="+data.message;
    })
    
}
</script> 
</body>
</HTML>