<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Zmiana hasła</title>

<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/js/pwstrength.js}"></script>

</head>

<body th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/courses/list')">
	</header>
	
	<div class="page">
	<div class="container list pt-3 pb-3 form">

			<h3>ZMIEŃ HASŁO</h3>
<div>
<form action="#" th:action="@{/students/checkPassword(oldPassword=${oldPassword},repeatedPassword=${repeatedPassword})}"
				th:object="${newPassword}" method="POST">
	Stare hasło
    <input th:object=${oldPassword} class="form-control mb-2 col-4" type="password" />
    Nowe hasło
    <input th:object=${newPassword}  class="form-control mb-2 col-4"  type="password" />
   Powtórz hasło
    <input  th:object=${repeatedPassword} class="form-control mb-2 col-4" type="password" />              
    <span th:text="${error}"></span>
                     
   <button type="submit" class="btn btn-info col-2 mt-1">ZAPISZ</button>
	<a th:href="@{/students/profile}" class="btn btn-danger col-2 mt-1">ANULUJ</a>
</form>
</div>
  
</div>
</div>



</body>
</HTML>