<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Profil</title>

<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
		<div class=" flex-fill">
			<a href="/"><img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" /></a>
		</div>
		<div class="flex-fill">
			<h2>Ośrodek Szkolenia Kierowców</h2>
		</div>
		<div class="flex-fill">
			<strong>Zalogowany użytkownik:</strong> <span
				th:text="${#authentication.getPrincipal().getUsername()}"></span> <a
				href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
		</div>

	</nav>
	<div class="page">
		<br>
		<br>
		<div class="row px-md-5">
			<div class="col-3  list card mt-2 " style="max-height: 31rem;">
				<br> <b><p
						th:text=" ${student.name + ' ' + student.surname}" /></b>
				<p th:text="'Login: ' + ${student.login}" />
				<p
					th:text="'Data urodzenia: ' + ${#dates.format(student.birthdate, 'dd.MM.yyyy')}" />
				<p
					th:text="'Adres: ul. ' + ${student.street + ' ' + student.buildingNumber + ', ' + student.postCode + ' ' + student.city}" />
				<p th:text="'Telefon: ' + ${student.phoneNumber}" />
				<p th:text="'E-mail: ' + ${student.email}" />
				<a
					th:href="@{/students/updateDataStudent(id_student=${student.id})}">
					<button type="submit" class="btn btn-info mb-2">EDYTUJ</button>
				</a> <a th:href="@{/students/changePassword}"><button type="button"
						class="btn btn-primary mb-3">ZMIEŃ HASŁO</button></a>

			</div>
			<div class="col-9 mt-2">
				<div id="card" class="card bg-light mb-4 ml-4 mr-4">
					<div class="card-body text-center mt-4">
						<a style="text-decoration: none"
							th:href="@{/students/showCourses}" class="card-text">Moje
							kursy </a>
					</div>
				</div>

				<div id="card" class="card bg-light mb-4 ml-4 mr-4">
					<div class="card-body text-center mt-4">
						<a style="text-decoration: none"
							th:href="@{/students/showTimetable}" class="card-text">Grafik
						</a>
					</div>
				</div>

				<div id="card" class="card bg-light mb-4 ml-4 mr-4">
					<div class="card-body text-center mt-4">
						<a style="text-decoration: none" th:href="@{/students/showExams}"
							class="card-text">Egzaminy </a>
					</div>
				</div>


				<div id="card" class="card bg-light mb-4 ml-4 mr-4">
					<div class="card-body text-center mt-4">
						<a style="text-decoration: none"
							th:href="@{/students/showInstructors}" class="card-text">Instruktorzy
						</a>
					</div>
				</div>

				<div id="card" class="card bg-light mb-4 ml-4 mr-4">
					<div class="card-body text-center mt-4">
						<a style="text-decoration: none" th:href="@{/students/showCars}"
							class="card-text">Samochody </a>
					</div>
				</div>

				<div id="card" class="card bg-light mb-4 ml-4 mr-4">
					<div class="card-body text-center mt-4">
						<a style="text-decoration: none"
							th:href="@{/students/showDrivings}" class="card-text">Jazdy </a>
					</div>
				</div>

			</div>

		</div>
			<div th:if="${passwordChanged}" id="snackbar"  th:text="${passwordChanged}"></div>
			<div th:if="${dataSaved}" id="snackbar" th:text="${dataSaved}"></div>
		
	</div>

<script>
		$(document)
				.ready(
						function() {

							var x = document.getElementById("snackbar");
							  x.className = "show";
							  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
						
							  $("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
</body>
</HTML>