<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Profile</title>
<meta charset="utf-8">

</head>
<body>

Zalogowany użytkownik: administrator <a href="">WYLOGUJ</a>
<br/> <br/>

<a th:href="@{/courses}">KURSY</a>
<a th:href="@{/students}" >KURSANCI</a>
<a th:href="@{/instructors}">INSTRUKTORZY</a>
<br/>
<a th:href="@{/cars}" >SAMOCHODY</a>
<a th:href="@{/exams}" >EGZAMINY</a>
<a th:href="grafik.html" >GRAFIK</a>
<br>
<a th:href="opinie.html" >OPINIE</a>
<a th:href="jazdy.html" >JAZDY</a>
<a th:href="wyklady.html" >WYKŁADY</a>













</body>


</HTML>