<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Profile</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}"  type="text/css"/>
</head>

<body>
<div class="page">

Zalogowany użytkownik: <b>administrator</b> <a href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a><br/> <br/>

<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4" >
			<a style="text-decoration: none" th:href="@{/courses/list}"> </br> </br>
				<p class="card-text">Kursy</p>
			</a>
		</div>
	</div>



	<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4">
			<a style="text-decoration: none" th:href="@{/students/list}"> </br> </br>
				<p class="card-text">Kursanci</p>
			</a>
		</div>
	</div>

	<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4">
			<a style="text-decoration: none" th:href="@{/instructors/list}"> </br> </br>
				<p class="card-text">Instruktorzy</p>
			</a>
		</div>
	</div>

	<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4">
			<a style="text-decoration: none"  th:href="@{/cars}"> </br> </br>
				<p class="card-text">Samochody</p>
			</a>
		</div>
	</div>

	<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4">
			<a style="text-decoration: none" th:href="@{/exams}"> </br> </br>
				<p class="card-text">Egzaminy</p>
			</a>
		</div>
	</div>

	<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4">
			<a style="text-decoration: none" th:href="@{/timetable/list}"> </br> </br>
				<p class="card-text">Grafik</p>
			</a>
		</div>
	</div>


	<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4">
			<a style="text-decoration: none" th:href="opinie.html"> </br> </br>
				<p class="card-text">Opinie</p>
			</a>
		</div>
	</div>



	<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4">
			<a style="text-decoration: none" th:href="@{/drivings/list}"> </br> </br>
				<p class="card-text">Jazdy</p>
			</a>
		</div>
	</div>



	<div id="card" class="card bg-light mb-4 ml-4 mr-4">
		<div class="card-body text-center mt-4">
			<a style="text-decoration: none" th:href="@{/lectures/list}"> </br> </br>
				<p class="card-text">Wykłady</p>
			</a>
		</div>
	</div>
	
	
</div>
</body>


</HTML>