<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Zmiana hasła</title>

<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/js/pwstrength.js}"></script>

</head>

<body th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/instructors/profile')">
	</header>
	
	<div class="page">
	<div class="container list pt-3 pb-3 form">

			<h3>ZMIEŃ HASŁO</h3>
<div>
<form action="#" th:action="@{/instructors/checkPassword}"
				th:object="${pchanger}" method="GET">
	Stare hasło
    <input th:field=*{oldPassword} class="form-control mb-2 col-4" type="password" />
  <p class="errorField" th:if="${oldPaswordProblem}" th:text="${oldPaswordProblem}"></p>
    Nowe hasło
    <input th:field=*{newPassword}  class="form-control mb-2 col-4"  type="password" />
 
   Powtórz hasło
    <input th:field=*{repeatedPassword} class="form-control mb-2 col-4" type="password" />              
    <p class="errorField" th:if="${differentPasswords}" th:text="${differentPasswords}"></p>
                     
   <button type="submit" class="btn btn-info col-2 mt-1">ZAPISZ</button>
	<a th:href="@{/instructors/profile}" class="btn btn-danger col-2 mt-1">ANULUJ</a>
</form>
</div>
  
</div>
</div>



</body>
</HTML>