<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Zarchiwizowane egzaminy</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
		<div class=" flex-fill">
			<a href="/"><img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" /></a>
		</div>
		<div class="flex-fill">
			<a th:href="@{/instructors/profile}">
				<button class="btn btn-secondary my-2 my-sm-0">Wróć</button>
			</a>
		</div>
		<div class="flex-fill">
			<h2>Ośrodek Szkolenia Kierowców</h2>
		</div>
		<div class="flex-fill">
			<strong>Zalogowany użytkownik: instruktor</strong> <a
				href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
		</div>

	</nav>
	<div class="page">
		<br>
		<nav class="navbar navbar-expand-lg d-flex justify-content-end">
			<div class="flex-fill">
				<h3>ZARCHIWIZOWANE EGZAMINY</h3>
			</div>

			<div class="flex-fill">
				<a th:href="@{/instructors/showExams}"><button type="button"
						class="btn btn-outline-secondary">Egzaminy</button></a>
			</div>
		</nav>


		<br> <input class="form-control" id="myInput" type="text"
			placeholder="Szukaj..."> <br>
		
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr class="table-primary">
						<th>Id egzaminu</th>
						<th>Instruktor</th>
						<th>Kursant</th>
						<th>Data</th>
						<th>Godzina</th>
						<th>Wynik</th>
						<th>Typ</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each="exam:${internalexams}">
						<td th:text="${exam.id}" />
						<td
							th:text="${exam.instructor.name} + ' ' + ${exam.instructor.surname}" />
						<td th:text="${exam.student.name} + ' ' + ${exam.student.surname}" />
						<td th:text="${#dates.format(exam.dateHour, 'dd-MM-yyyy')}" />
						<td th:text="${#dates.format(exam.dateHour, 'HH:mm')}" />
						
						<div th:switch="${exam.result}" >
						<div th:case=0> <td th:text="negatywny"/>
						</div>
						<div th:case=1> <td th:text="pozytywny"/>
						</div>
						
						</div>
						<td th:text="${exam.type}" />
						
					</tr>
				</tbody>


			</table>
		</div>
	</div>

	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>

</body>
</HTML>