<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Samochody</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/students/profile')">
	</header>
	<div class="page">

	<div class="container list">
				<h3>SAMOCHODY</h3>
				<br>

<input class="form-control col-3" id="myInput" type="text"
			placeholder="Szukaj..."> <br>
		<div class="table-responsive table-sm">
			<table class="table table-hover">
				<thead>
					<tr class="table-primary">
						<th>Numer rejestracyjny</th>
						<th>Marka</th>
						<th>Model</th>
						</tr>
					</thead>
					<tbody id="myTable">
						<tr th:each="car:${cars}">
							<td th:text="${car.registrationNumber}" />
							<td th:text="${car.brand}" />
							<td th:text="${car.model}" />
						
						
							<td th:if="${ratedCarsIds.contains(car.id)}"><a
								th:href="@{/students/rateCars(id_car=${car.id})}"
								class="btn btn-primary">ZOBACZ OCENĘ</a></td>
							<td th:unless="${ratedCarsIds.contains(car.id)}"><a
								th:href="@{/students/rateCars(id_car=${car.id})}"
								class="btn btn-outline-primary">OCEŃ</a></td>
						</tr>

					</tbody>


				</table>
			</div>

		</div>
	</div>
	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>


</body>
</HTML>