<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kursanci - formularz</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/students/list')">
	</header>

	<div class="page">
		<div class="container list form pb-3 pt-3">



			<h3>KURSANT</h3>
			<div class="card mb-5 mr-5 mt-3 ml-3" style="width: 15rem;">

				<b class="card-header">Wprowadz PKK</b>
				<div class="card-body">
					<form th:action="@{/students/checkPKK}" method="GET">
						PKK<input type="text" th:value="${pkk}" name="pkk"
							class="form-control" />
						<button type="submit" class="btn btn-info mt-3">SZUKAJ</button>
					</form>
				</div>
			</div>
			<form action="#" th:action="@{/students/save(action=${action})}"
				th:object="${student}" method="POST">
				<div class="row">


				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{userId}" />
					<div class="mb-3 col">
						Imię: <input type="text" th:field="*{name}"
							class="form-control col-10"> <span
							th:if="${#fields.hasErrors('name')}" class="errorField"
							th:errors="*{name}"></span>
					</div>
					<div class="mb-3 col">
						Nazwisko: <input type="text" th:field="*{surname}"
							class="form-control col-10"> <span
							th:if="${#fields.hasErrors('surname')}" class="errorField"
							th:errors="*{surname}"></span>
					</div>
				
									</div>
				

					
						<div class="row">
					
					<div class="mb-3 col">
						Data urodzenia: <input type="date" th:field="*{birthdate}"
							th:value="${birthdate}" class="form-control col-10"> <span
							th:if="${#fields.hasErrors('birthdate')}" class="errorField"
							th:errors="*{birthdate}"></span>
					</div>
					<div class="mb-3 col">
						Email: <input type="text" th:field="*{email}"
							class="form-control col-10"> <span
							th:if="${#fields.hasErrors('email')}" class="errorField"
							th:errors="*{email}"></span>
					</div>
					
					
				</div>
				<div class="row">

					<div class="mb-3 col">
						Ulica: <input type="text" th:field="*{street}"
							class="form-control col-10">
						<div class="mb-3">
							<span th:if="${#fields.hasErrors('street')}" class="errorField"
								th:errors="*{street}"></span>
						</div>
						</div>
						<div class="mb-3 col">
						
						Numer budynku: <input type="text" th:field="*{buildingNumber}"
							class="form-control  col-10"> <span
							th:if="${#fields.hasErrors('buildingNumber')}" class="errorField"
							th:errors="*{buildingNumber}"></span>
					
					</div></div>
					<div class="row">
					
					<div class="mb-3 col">
						Numer mieszkania: <input type="text" th:field="*{apartmentNumber}"
							class="form-control col-10"> <span
							th:if="${#fields.hasErrors('apartmentNumber')}"
							class="errorField" th:errors="*{apartmentNumber}"></span>
					</div>
					<div class="mb-3 col">
						Miasto: <input type="text" th:field="*{city}"
							class="form-control col-10"> <span
							th:if="${#fields.hasErrors('city')}" class="errorField"
							th:errors="*{city}"></span>
					</div>
					</div>

									<div class="row">

					
					<div class="mb-3 col">
						Kod pocztowy: <input type="text" th:field="*{postCode}"
							class="form-control  col-10"> <span
							th:if="${#fields.hasErrors('postCode')}" class="errorField"
							th:errors="*{postCode}"></span>
					</div>
					<div class="mb-3 col">
						Numer telefonu: <input type="text" th:field="*{phoneNumber}"
							class="form-control col-10"> <span
							th:if="${#fields.hasErrors('phoneNumber')}" class="errorField"
							th:errors="*{phoneNumber}"></span>
					</div>
					</div>
					<div class="row">
					
					
					<div class="mb-3 col">
						PKK: <input type="text" th:field="*{pkk}"
							class="form-control col-10"> <span
							th:if="${#fields.hasErrors('pkk')}" class="errorField"
							th:errors="*{pkk}"></span>
					</div>
					
					<div class="mb-3 col">
						Login: <input type="text" th:field="*{login}"
							class="form-control  col-10"> <span
							th:if="${#fields.hasErrors('login')}" class="errorField"
							th:errors="*{login}"></span>
					</div>
					</div>
							<div class="nav justify-content-end">	
					

					<button type="submit" class="btn mt-4 btn-info col-2 mr-2  ">ZAPISZ</button>


					<a th:href="@{/students/list}" class="btn mt-4 col-2 btn-danger ">ANULUJ</a>
					</div>
					
			</form>

		</div>
	</div>
</body>
</HTML>