<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kursanci - formularz</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/students/list')">
	</header>

	<div class="page">
		<div class="container list form pb-3 pt-3">

			<h3>KURSANT</h3>
			<div class="card mb-5 mr-5 mt-3" style="width: 15rem;">

				<div class="card-header">
					<b>Wprowadz PKK</b>
				</div>
				<div class="card-body">
					<form th:action="@{/students/checkPKK}" method="GET">
						PKK<input type="text" th:value="${pkk}" name="pkk"
							class="form-control" />
						<button type="submit" class="btn btn-info mt-3">SZUKAJ</button>
					</form>

				</div>
			</div>
			<form action="#" th:action="@{/students/save}" th:object="${student}"
				method="POST">
				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{userId}" /> Imię: <input type="text"
					th:field="*{name}" class="form-control mb-4 col-4">
				Nazwisko: <input type="text" th:field="*{surname}"
					class="form-control mb-4 col-4"> Login: <input type="text"
					th:field="*{login}" class="form-control mb-4 col-4"> Data
				urodzenia: <input type="date" th:field="*{birthdate}"
					th:value="${birthdate}" class="form-control mb-4 col-4">

				Ulica: <input type="text" th:field="*{street}"
					class="form-control mb-4 col-4"> Numer budynku: <input
					type="text" th:field="*{buildingNumber}"
					class="form-control mb-4 col-4"> Numer mieszkania: <input
					type="text" th:field="*{apartmentNumber}"
					class="form-control mb-4 col-4"> Miasto: <input type="text"
					th:field="*{city}" class="form-control mb-4 col-4"> Kod
				pocztowy: <input type="text" th:field="*{postCode}"
					class="form-control mb-4 col-4"> Numer telefonu: <input
					type="text" th:field="*{phoneNumber}"
					class="form-control mb-4 col-4"> Email: <input type="text"
					th:field="*{email}" class="form-control mb-4 col-4"> PKK:
				<input type="text" th:field="*{pkk}" class="form-control mb-4 col-4">

				<button type="submit" class="btn btn-info col-2">ZAPISZ</button>
				<a th:href="@{/students/list}" class="btn btn-danger">ANULUJ</a>


			</form>

		</div>
	</div>
</body>
</HTML>