<meta charset="utf-8">
<div th:fragment="navbar">

	<nav
		class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
		<div class=" flex-fill">
			<a href="/"><img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" /></a>
		</div>
		
		<div class="flex-fill">
			<h2>Ośrodek Szkolenia Kierofców</h2>
		</div>
		<div class="flex-fill">
			<strong>Zalogowany użytkownik: #</strong> <a href="/logout"><button
					type="button" class="btn btn-primary">WYLOGUJ</button></a>

		</div>

	</nav>

</div>