<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Jazdy</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/students/profile')">
	</header>

	<div class="page">

	<div class="container list">
				<h3 class="title">JAZDY</h3>
				<nav class="navbar justify-content-end">
				<a th:href="@{/students/showDoneDrivings}"><button type="button"
						class="btn btn btn-primary mr-3 mb-2">ODBYTE JAZDY</button></a>
				<a th:href="@{/students/showCancelledDrivings}"><button type="button"
						class="btn btn btn-primary mr-3 mb-2">ODWOŁANE JAZDY</button></a>
		</nav>

 <input class="form-control col-3" id="myInput" type="text"
			placeholder="Szukaj..."> <br> 

			<div class="table-responsive table-sm">
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th>Typ</th>
							<th>Data</th>
							<th>Początek</th>
							<th>Koniec</th>
							<th>Zrealizowana</th>
							<th>Odwołana</th>


						</tr>
					</thead>
					<tbody id="myTable">
						<tr th:each="driving:${drivings}">
							<td th:text="${driving.timetable.drivingType.type}" />
							<td
								th:text="${#temporals.format(driving.timetable.begin,'dd.MM.yyyy')}" />
							<td
								th:text="${#temporals.format(driving.timetable.begin,'HH.mm')}" />
							<td th:text="${#temporals.format(driving.timetable.end,'HH.mm')}" />

							<div th:if="${driving.done} eq 0">
								<td th:text="NIE" />
							</div>
							<div th:unless="${driving.done} eq 0">
								<td th:text="TAK" />
							</div>

							<div th:if="${driving.cancelled} eq 0">
								<td th:text="NIE" />
							</div>
							<div th:unless="${driving.cancelled} eq 0">
								<td th:text="TAK" />
							</div>
							<td><span th:if="${driving.cancelled} eq 0"> <a
									th:href="@{/drivings/cancelDriving(id_driving=${driving.id})}"
									class="btn btn-danger">ODWOŁAJ JAZDĘ</a>
							</span></td>
						</tr>
					</tbody>


				</table>
			</div>
		</div>
	</div>
	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>

</body>

</HTML>