<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Jazdy</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/students/profile')">
	</header>

	<div class="page">

	<div class="container pt-3  list">
			<div class="flex-fill pb-2 mb-3">
				<h3 >TRASA</h3>
				<p th:text="'jazdy'+' '+	${#temporals.format(driving.timetable.begin,'dd.MM.yyyy')} 
				+' ' +${#temporals.format(driving.timetable.begin,'HH:mm')}+'-'+${#temporals.format(driving.timetable.end,'HH:mm')}
				+' ' + 'z instruktorem '+${timetable.instructor.name}+' '+${timetable.instructor.surname} +' o typie: ' +${timetable.drivingType.type}" />	
</p>
			</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19985.836086460688!2d22.500163124403407!3d51.23326789385396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722577729316bd9%3A0x442236391b743bc!2sPolitechnika%20Lubelska%2C%2020-618%20Lublin!5e0!3m2!1spl!2spl!4v1574934313566!5m2!1spl!2spl" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>	</div>
	</div>
	
    </script>
   
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI0sXO1I6aOWhAtU99fYU2u-FqKADdJlA&callback=initMap">
    </script>
  </body>
</html>