<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kategorie</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>

<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header th:insert="fragments/topNav.html :: navbar(returnPage = '/')">
	</header>

	<div class="page">
		<div class="container pt-3  list">
			<div class="flex-fill pb-2 mb-3">
				<h3>KATEGORIE</h3>
			</div>


			<div class="table-responsive ml-1 mr-1 mb-3 "
				style="max-width: 15rem; float: left; background-color: white;">
				<table class="table table-hover  table-sm">
					<thead>
						<tr class="table-primary">
							<th>Id</th>
							<th>Nazwa</th>
							<th></th>

						</tr>
					</thead>
					<tbody id="myTable">
						<tr th:each="category:${categories}">
							<td th:text="${category.id}" />
							<td th:text="${category.categoryName}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card mb-3" style="width: 15rem; float: left">
				<div class="card-header">
					<b>Zmień dane</b>
				</div>
				<div class="card-body">
					<form th:action="@{/courses/saveEditedCategory}"
						th:object="${category}" method="POST">
						Id <input type="number" th:field="*{id}" class="form-control " />
						<br> Kategoria <input type="text" th:field="*{categoryName}"
							class="form-control " /> <br>
						<button type="submit" class="btn btn-info">ZMIEŃ</button>
					</form>
				</div>

			</div>

			<div class="card ml-1 " style="width: 15rem; float: left">
				<div class="card-header">
					<b>Dodaj kategorię</b>
				</div>
				<div class="card-body">
					<form th:action="@{/courses/saveNewCategory}"
						th:object="${categoryToAdd}" method="POST">
						<input type="hidden" th:field="*{id}" /> <input type="text"
							class="form-control" th:field="*{categoryName}" /> <br>
						<button type="submit" class="btn btn-info ">DODAJ</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</HTML>