<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kursy - formularz</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/courses/list')">
	</header>

	<div class="page">

		<div class="container list form">

			<h3>KURS</h3>

			<form th:action="@{/courses/save}" th:object="${course}"
				method="POST">

				<input type="hidden" th:field="*{id}" /> 
				<div class="mb-3">
				Kategoria: <select
					th:field="*{category}" class="form-control col-4">
					<option th:each="category: ${categories}" th:value="${category.id}"
						th:text="${category.categoryName}" />
				</select> 
				</div>
				<div class="mb-3">
				Instruktor: <select th:field="*{instructor}"
					class=" col-4 form-control">
					<option th:each="instructor: ${instructors}"
						th:value="${instructor.id}"
						th:text="${instructor.name}+' '+${instructor.surname}" />
				</select> </div>
				<div class="mb-3">
				Data rozpoczęcia 
				<input type="date" th:field="*{startDate}"
					th:value="${startDate}" class="form-control col-4"
					placeholder="Data rozpoczęcia">
				<span	th:if="${#fields.hasErrors('startDate')}"
					class="errorField" th:errors="*{startDate}"></span> 					
				</div>
				<button type="submit" class="btn btn-info col-2">ZAPISZ</button>
				<a th:href="@{/courses/list}" class="btn btn-danger">ANULUJ</a>


			</form>

			<br>
		</div>
	</div>
</body>

</HTML>