<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kursy</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>
<body th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
		<div class=" flex-fill">
			<a href="/"><img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" /></a>
		</div>
		<div class="flex-fill">
			<a th:href="@{/}">
				<button class="btn btn-secondary my-2 my-sm-0">Wróć</button>
			</a>
		</div>
		<div class="flex-fill">
			<h2>Ośrodek Szkolenia Kierowców</h2>
		</div>
		<div class="flex-fill">
			<strong>Zalogowany użytkownik</strong>
			<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
			
			 <a
				href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
		</div>
	</nav>
	<div class="page">
	<div class="container list" >

	<h3 class="title">KURSY</h3>
		<nav class="navbar justify-content-end">
				<a th:href="@{/courses/showFormForAdd}"><button type="button"
						class="btn btn btn-primary mr-3 mb-2">DODAJ KURS</button></a>
			
				<a th:href="@{/courses/listArchived}"><button type="button"
						class="btn btn-outline-secondary mr-3 mb-2">Zarchiwizowane kursy</button></a>
			
		
				<a th:href="@{/courses/categories}"><button type="button"
						class="btn btn btn-primary mr-3 mb-2">KATEGORIE</button></a>
			

		</nav>

	 <input class="form-control col-3" id="myInput" type="text"
			placeholder="Szukaj..."> <br>
		<div class="table-responsive table-sm ">
			<table class="table table-hover">
				<thead>
					<tr class="table-primary">
						<th>Id</th>
						<th>Kategoria</th>
						<th>Instruktor</th>
						<th>Początek</th>

					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each="course:${courses}">
						<td th:text="${course.id}" />
						<td th:text="${course.category.categoryName}" />
						<td
							th:text="${course.instructor.name}+' ' +${course.instructor.surname} " />
						<td th:text="${#temporals.format(course.startDate,'dd.MM.yyyy')}" />

						<td><a
							th:href="@{/courses/showFormForUpdate(id_course=${course.id})}"
							class="btn btn-primary">EDYTUJ</a></td>
						<td><a
							th:href="@{/courses/archiveCourse(id_course=${course.id})}"
							class="btn btn-danger">ARCHIWIZUJ</a></td>
						<td><a
							th:href="@{/courses/showStudents}"
							class="btn btn-info">ZOBACZ UCZESTNIKÓW</a></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>

	</div>
	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
</body>
</html>




