<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Profile</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

Zalogowany użytkownik: administrator <a href="">WYLOGUJ</a> <a th:href="@{/}"><-wroc</a>  </a> 
<br/> <br/>
<h3>KURSY</h3>
<div class="table-responsive">
<table class="table table-bordered">
<thead>
 <tr>
   <td>Id</td>
   <td>Kategoria </td>
   <td>Instruktor</td>
   <td>Początek</td>
   <td>Zakończony</td>
   
 </tr>
</thead>
<tbody>
  <tr th:each="course:${courses}">
      <td th:text="${course.id}"/>
    <td th:text="${course.idCategory}"/>
    <td th:text="${course.idInstructor}"/>
    <td th:text="${course.startDate}"/>
    <td th:text="${course.finished}"/>
 </tr>

</tbody>


</table>
</div>



</body>
</html>




