<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Jazdy - formularz</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">

	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/drivings/list')">
	</header>


	<div class="page">
		<div class="container list form pb-3 pt-3">

			<h3>JAZDA</h3>
			<b>Kursant: </b> <span
				th:text="${driving.student.name+' ' +driving.student.surname}"></span>
			<br> <b>Instruktor: </b><span
				th:text=" ${driving.timetable.instructor.name+' ' +driving.timetable.instructor.surname}"></span>
			<br> <b>Typ: </b> <span
				th:text=" ${driving.timetable.drivingType.type}"></span> <br> <b>Początek:
			</b><span
				th:text=" ${#temporals.format(driving.timetable.begin,'dd.MM.yyyy HH:mm')}"></span>
			<br> <b>Koniec: </b><span
				th:text=" ${#temporals.format(driving.timetable.end,'dd.MM.yyyy HH:mm')}"></span>
			<br> <b>Zrealizowana:</b> <span th:if="${driving.done} eq 0">
				<span th:text="NIE"></span>
			</span> <span th:unless="${driving.done} eq 0"> <span th:text="TAK"></span>
			</span><br> <b>Odwołana:</b> <span th:if="${driving.cancelled} eq 0">
				<span th:text="NIE"></span>
			</span> <span th:unless="${driving.cancelled} eq 0"> <span
				th:text="TAK"></span>
			</span> <br>
			<br>

			<form action="#" th:action="@{/drivings/save}" th:object="${driving}"
				method="POST">

				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{id}" /> 
				<input type="hidden" th:field="*{deleted}" />
				
				Kursant:<select th:field="*{student}" class="form-control col-4">
					<option th:each="student : ${students}" th:value="${student.id}"
						th:text="${student.name + ' ' + student.surname} " />
				</select> Instruktor:<select th:field="*{timetable.instructor}"
					class="form-control col-4">
					<option th:each="instructor : ${instructors}"
						th:value="${instructor.id}"
						th:text="${instructor.name + ' ' + instructor.surname} " />
				</select> Typ<select th:field="*{timetable.drivingType}"
					class="form-control col-4">
					<option th:each="drivingType : ${drivingTypes}"
						th:value="${drivingType.id}" th:text="${drivingType.type} " />
				</select> Zrealizowana: <select th:field="*{done}"
					class="form-control  col-4">
					<option th:text="TAK" th:value="1" />
					<option th:text="NIE" th:value="0" />
				</select> Odwołana: <select th:field="*{cancelled}"
					class="form-control mb-3 col-4">
					<option th:text="TAK" th:value="1" />
					<option th:text="NIE" th:value="0" />
				</select>

				




				<button type="submit" class="btn btn-info col-2">ZAPISZ</button>
				<a th:href="@{/drivings/list}" class="btn btn-danger">ANULUJ</a>

			</form>
		</div>
	</div>
</body>
</HTML>