<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Grafik</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
}
</style>

</head>
<body th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
		<div class=" flex-fill">
			<a href="/"><img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" /></a>
		</div>
		<div class="flex-fill">
			<a th:href="@{/}">
				<button class="btn btn-secondary my-2 my-sm-0">Wróć</button>
			</a>
		</div>
		<div class="flex-fill">
			<h2>Ośrodek Szkolenia Kierowców</h2>
		</div>
		<div class="flex-fill">
			<strong>Zalogowany użytkownik:</strong> 
						<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
			
			<a
				href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
		</div>
	</nav>
	<div class="page">
	<div class="container list pb-3" >
		<h3>GRAFIK TYGODNIOWY</h3>

		<div th:if="${timetablesThisWeek.isEmpty()}">
			<p th:text="'Brak grafiku na tydzień: '+${monday}+' - '+${sunday}"></p>
		</div>
		<div th:unless="${timetablesThisWeek.isEmpty()}">
			<p class="inline" th:text="${monday}+' - '+${sunday}"/>
		</div>
		<ul class="pagination inline" style="float:left">
			<li class="page-item"><a class="page-link"
				th:href="@{/instructors/earlierWeek(monday=${monday})}">&#60;</a></li>
			<li class="page-item"><a class="page-link"
				th:href="@{/instructors/laterWeek(monday=${monday})}">&#62;</a></li>
		</ul>
		<a th:href="@{/instructors/showTimetable}"><button
						type="button" class="btn btn-outline-secondary mr-3 mb-2" style=float:right>GRAFIK DZIENNY</button></a>
	<for:each th:each="day:${days}">
		<button class="accordion"  
				th:text="${day}"></button>
			<div class="panel"  >
				<div class="table-responsive" >
					<table class="table  table-hover table-sm">
						<thead>
							<tr class="table-primary">
								<th>Początek</td>
								<th>Koniec</th>
								<th>Samochód</th>
								<th>Typ</th>
								<th>Kursant</th>
								
							</tr>
						</thead>
						<tbody id="myTable">
							<tr th:each="timetable:${timetablesThisWeek}">
								<span th:if=${timetable.getDayName()}==${day}>
									<td th:text="${#temporals.format(timetable.begin,'HH:mm')}" />
									<td th:text="${#temporals.format(timetable.end,'HH:mm')}" />
									<td	th:text="${timetable.car.brand}+' ' +${timetable.car.model} +' ' +${timetable.car.registrationNumber} " />
									<td th:text="${timetable.drivingType.type}"></td>
									<div th:switch="${timetable.reserved}" >
									<div th:if="${timetable.reserved} eq false">
									<td th:text="niezarezerwowana" />
									</div>
									<div th:unless="${timetable.reserved} eq false">
									<td th:text="${timetable.driving.student.name} +' ' +${timetable.driving.student.surname}" />
									</div>
									
							
								</span>
								
							</tr>
						</tbody>
						
					</table>
					
				</div>
			</div>
			
			</for:each>
			</div>

	</div>
	
	
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {

				this.classList.toggle("active");

				var panel = this.nextElementSibling;
				if (panel.style.display === "block") {
					panel.style.display = "none";
				} else {
					panel.style.display = "block";
				}
			});
		}
	</script>
	
	
	
	
	
</body>

</html>