<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Instruktorzy</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>

<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/students/profile')">
	</header>

	<div class="page">
		<div class="container list pt-3">
			<h3>INSTRUKTORZY</h3>
			<br>
			<div class="table-responsive">
				<table class="table table-hover  table-sm">
					<thead>
						<tr class="table-primary">
							<th>Imię</th>
							<th>Nazwisko</th>
						</tr>
					</thead>
					<tbody id="myTable">
						<tr th:each="instructor:${instructors}">
							<td th:text="${instructor.name}" />
							<td th:text="${instructor.surname}" />
							<td th:if="${ratedInstructorsIds.contains(instructor.id)}"><a
								th:href="@{/students/rateInstructors(id_instructor=${instructor.id})}"
								class="btn btn-primary">ZOBACZ OCENĘ</a></td>
							<td th:unless="${ratedInstructorsIds.contains(instructor.id)}"><a
								th:href="@{/students/rateInstructors(id_instructor=${instructor.id})}"
								class="btn btn-outline-primary">OCEŃ</a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>


</body>
</HTML>