<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Oceń instruktora</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/students/showInstructors')">
	</header>

	<div class="page">
		<div class="container list pt-3 pb-3 form">
			<!--  <p th:text="${instructoropinion.instructor.name} + ' ' + ${instructoropinion.instructor.surname" />
-->

			<form action="#"
				th:action="@{/students/saveInstructorOpinion(id_instructor=${instructoropinion.instructor.id})}"
				th:object="${instructoropinion}" method="POST">

				<strong>Oceń instruktora w skali 1-5 </strong> (1 - najniższa ocena,
				5 - najwyższa ocena) <br> <select th:field="*{instructorMark}"
					class="form-control mb-4 col-4">
					<option th:text="1" th:value="1" />
					<option th:text="2" th:value="2" />
					<option th:text="3" th:value="3" />
					<option th:text="4" th:value="4" />
					<option th:text="5" th:value="5" />
				</select> <label for="opinion"> <strong>Opinia o
						instruktorze*</strong></label> <br>
				<textarea th:field="*{instructorOpinion}" rows="10" cols="63"
					placeholder="Napisz opinię o instruktorze"></textarea>

				<br>

				<button type="submit" class="btn btn-info col-2">Zapisz</button>

				<br> *Pole nieobowiązkowe

			</form>

		</div>

	</div>

</body>


</HTML>