<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Exams</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
		<div class=" flex-fill">
			<a href="/"><img
				src="https://cdn.pixabay.com/photo/2014/04/03/00/41/house-309113_960_720.png"
				width="70px" /></a>
		</div>
		<div class="flex-fill">
			<h2>Ośrodek Szkolenia Kierowców</h2>
		</div>
		<div class="flex-fill">
			<strong>Zalogowany użytkownik: administrator</strong> <a
				href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
			<a th:href="@{/}"><-wroc</a>
		</div>

	</nav>
	<div class="page">


		<h3>EGZAMINY</h3>

		<a th:href="@{/exams/showFormForAdd}" class="btn btn-primary">DODAJ</a>
		<br>
		<br> <input class="form-control" id="myInput" type="text"
			placeholder="Szukaj..."> <br>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="table-primary">
						<td>Id egzaminu</td>
						<td>Instruktor</td>
						<td>Kursant</td>
						<td>Data</td>
						<td>Godzina</td>
						<td>Wynik</td>
						<td>Typ</td>
						<td>Stan</td>

					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each="exam:${internalexams}">
						<td th:text="${exam.id}" />
						<td
							th:text="${exam.instructor.name} + ' ' + ${exam.instructor.surname}" />
						<td th:text="${exam.student.name} + ' ' + ${exam.student.surname}" />
						<td th:text="${#dates.format(exam.dateHour, 'dd-MM-yyyy')}" />
						<td th:text="${#dates.format(exam.dateHour, 'HH:mm')}" />
						<td th:text="${exam.result}" />
						<td th:text="${exam.type}" />
						<td th:text="${exam.deleted}" />


						<td><a
							th:href="@{/exams/showFormForUpdate(id_internalExam=${exam.id})}"
							class="btn btn-primary">EDYTUJ</a></td>
					</tr>
				</tbody>


			</table>
		</div>
	</div>
</body>
</HTML>