<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Exams</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

.page{
padding: 10px;

}
</style>

</head>
<body>
<div class="page">
Zalogowany użytkownik: administrator <a href="/logout">WYLOGUJ</a> <a th:href="@{/}"><-wroc</a>  </a> 
<br/> <br/>

<h3>EGZAMINY</h3>
<input class="form-control" id="myInput" type="text" placeholder="Szukaj...">

  <br>
<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead >
 <tr class="table-primary">
   <td>Id egzaminu</td>
   <td>Instruktor</td>
   <td>Kursant</td>
   <td>Data</td>
   <td>Wynik</td>
   <td>Typ</td> 
   <td>Stan</td> 
    
 </tr>
</thead>
<tbody id="myTable">
				<tr th:each="exam:${internalexams}">
					<td th:text="${exam.id}" />
					<td th:text="${exam.instructor.name} + ' ' + ${exam.instructor.surname}" />
					<td th:text="${exam.student.name} + ' ' + ${exam.student.surname}" />
					<td th:text="${exam.dateHour}" />
					<td th:text="${exam.result}" />
					<td th:text="${exam.type}" />
					<td th:text="${exam.deleted}" />

				</tr>
			</tbody>


</table>
</div>


</div>
</body>


</HTML>