<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Opinie</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/instructors/profile')">
	</header>

	<div class="page">

<div class="container list">
		<br>
				<h3 class="title">OPINIE O TOBIE</h3>
			<nav class="navbar justify-content-end">
			
				<a th:href="@{/opinions/instructors/checkedOpinions}"><button
						type="button" class="btn btn-outline-secondary mr-3 mb-2">Opinie o instruktorach</button></a>
				<a th:href="@{/opinions/cars/checkedOpinions}"><button
						type="button" class="btn btn-outline-secondary mr-3 mb-2">Opinie o samochodach</button></a>
		</nav>

		<br>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr class="table-primary">
						<th>Kursant</th>
						<th>Ocena</th>
						<th>Opinia</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each="instructoropinion:${instructoropinions}">
						<td
							th:text="${instructoropinion.student.name} + ' ' + ${instructoropinion.student.surname}" />
						<td th:text="${instructoropinion.instructorMark}" />
						<td th:text="${instructoropinion.instructorOpinion}" />
					</tr>
				</tbody>



				</table>
			</div>
		</div>
	</div>
</body>


</HTML>