<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Instruktorzy - formularz</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />


</head>
<body
	th:style="'background: url(../car.jpg) no-repeat center center fixed;'">
	<header
		th:insert="fragments/topNav.html :: navbar(returnPage = '/instructors/list')">
	</header>
<body>
	<div class="page">
		<div class="container list form pb-3 pt-3">

			<h3>INSTRUKTOR</h3>

			<form action="#" th:action="@{/instructors/save(action=${action})}"
				th:object="${instructor}" method="POST">

				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{userId}" /> 
					<div class="mb-3">
					Imię: <input type="text"
					th:field="*{name}" class="form-control  col-4">
					<span	th:if="${#fields.hasErrors('name')}"
					class="errorField" th:errors="*{name}"></span> 	
					</div>
					<div class="mb-3">
					
				Nazwisko: <input type="text" th:field="*{surname}"
					class="form-control  col-4"> 
					<span	th:if="${#fields.hasErrors('surname')}"
					class="errorField" th:errors="*{surname}"></span> 	
					</div>
					<div class="mb-3">
					
					Login: <input type="text"
					th:field="*{login}" class="form-control  col-4">
					<span	th:if="${#fields.hasErrors('login')}"
					class="errorField" th:errors="*{login}"></span> 	
					</div>
					<div class="mb-3">
					 Numer
				telefonu: <input type="text" th:field="*{phoneNumber}"
					class="form-control  col-4"> 
					<span	th:if="${#fields.hasErrors('phoneNumber')}"
					class="errorField" th:errors="*{phoneNumber}"></span> 	
					</div>
					<div class="mb-3">
					Email: <input type="text"
					th:field="*{email}" class="form-control col-4">
<span	th:if="${#fields.hasErrors('email')}"
					class="errorField" th:errors="*{email}"></span> 	
					</div>

				<button type="submit" class="btn btn-info col-2 mt-2">ZAPISZ</button>
				<a th:href="@{/instructors/list}" class="btn btn-danger mt-2">ANULUJ</a>

			</form>
		</div>
					<div th:if="${loginExists}" id="snackbar" >Login już istnieje</div>
		
	</div>
<script>
		$(document)
				.ready(
						function() {
							var x = document.getElementById("snackbar");
							  x.className = "show";
							  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
						
							
							
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>

</body>
</HTML>